/TwilioService.v12.suo
/TwilioService/bin/Antlr3.Runtime.dll
/TwilioService/bin/Antlr3.Runtime.pdb
/TwilioService/bin/Microsoft.Web.Infrastructure.dll
/TwilioService/bin/Newtonsoft.Json.dll
/TwilioService/bin/Newtonsoft.Json.xml
/TwilioService/bin/RestSharp.dll
/TwilioService/bin/RestSharp.xml
/TwilioService/bin/System.Net.Http.Formatting.dll
/TwilioService/bin/System.Net.Http.Formatting.xml
/TwilioService/bin/System.Web.Helpers.dll
/TwilioService/bin/System.Web.Helpers.xml
/TwilioService/bin/System.Web.Http.WebHost.dll
/TwilioService/bin/System.Web.Http.WebHost.xml
/TwilioService/bin/System.Web.Http.dll
/TwilioService/bin/System.Web.Http.xml
/TwilioService/bin/System.Web.Mvc.dll
/TwilioService/bin/System.Web.Mvc.xml
/TwilioService/bin/System.Web.Optimization.dll
/TwilioService/bin/System.Web.Optimization.xml
/TwilioService/bin/System.Web.Razor.dll
/TwilioService/bin/System.Web.Razor.xml
/TwilioService/bin/System.Web.WebPages.Deployment.dll
/TwilioService/bin/System.Web.WebPages.Deployment.xml
/TwilioService/bin/System.Web.WebPages.Razor.dll
/TwilioService/bin/System.Web.WebPages.Razor.xml
/TwilioService/bin/System.Web.WebPages.dll
/TwilioService/bin/System.Web.WebPages.xml
/TwilioService/bin/Twilio.Api.dll
/TwilioService/bin/Twilio.Api.pdb
/TwilioService/bin/Twilio.Api.xml
/TwilioService/bin/TwilioService.dll
/TwilioService/bin/TwilioService.dll.config
/TwilioService/bin/TwilioService.pdb
/TwilioService/bin/WebGrease.dll
/TwilioService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TwilioService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TwilioService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TwilioService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TwilioService/obj/Debug/TwilioService.csproj.FileListAbsolute.txt
/TwilioService/obj/Debug/TwilioService.csprojResolveAssemblyReference.cache
/TwilioService/obj/Debug/TwilioService.dll
/TwilioService/obj/Debug/TwilioService.pdb
